{% load static %}
<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
    <title>Контакты</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="{% static 'images/photo_2023-06-24_23-40-45.jpg' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css"
          href="//fonts.googleapis.com/css?family=Lato:400,700%7COpen+Sans:400,600,700%7CSource+Code+Pro:300,400,500,600,700,900%7CNothing+You+Could+Do%7CPoppins:400,500">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        .ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}
    </style>
</head>
<body>
<div class="preloader">
    <div class="preloader-body">
        <div class="cssload-container">
            <div class="cssload-speeding-wheel"></div>
        </div>
    </div>
</div>
<div class="page">

    <section class="section section-xl bg-default text-center">
        <div class="container">
            <h1 style="margin-bottom: 100px;">{{ titles.0.name }}</h1>
            <h4>Условия предоставления услуг Байера</h4>
            <h6>{{ titles.0.description }}</h6>
            <h3>Контакты</h3>
            <div class="row row-125">
                {% for contact in contacts %}
                <div class="col-md-6 col-lg-4">
                    <article class="post-classic">
                        <figure class="post-classic-figure"><a href="{{ contact.url }}"><img
                                src="{{ contact.icon.url }}" alt="Vizit Card Image" width="346"
                                height="130"/></a></figure>
                        <div class="post-classic-content">
                            <h3 class="post-classic-title"><a href="{{ contact.url }}">{{ contact.text }}</a></h3>
                        </div>
                    </article>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="section section-xl bg-default text-center">
        <h3 style="text-align: center; margin: 0 auto;">Реквизиты</h3>
        <div class="container">
            <div class="row row-125">
                {% for requisite in requisites %}
                <div class="col-md-6 col-lg-4">
                    <article class="post-classic">
                        <figure class="post-classic-figure"><img
                                src="{{ requisite.image.url }}" alt="Vizit Card Image" width="346"
                                height="130"/></figure>
                        <div class="post-classic-content">
                            <h3 class="post-classic-title">{{ requisite.requisites }}</h3>
                        </div>
                    </article>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <footer class="section footer-classic bg-default">
        <div class="container">
            <div class="row row-15">
                <div class="col-sm-6">
                    <p class="rights"><span>Buyer</span><span>&nbsp;</span><span>&copy;&nbsp;</span><span
                            class="copyright-year"></span><span>&nbsp;</span><span>\&nbsp;</span>Aida Zhakypova
                        \ Dev by <a href="https://t.me/osmon03">Alderman</a>
                    </p>
                </div>
                <div class="col-sm-6">
                    <div class="footer-contact"><a href="https://instagram.com/buyer_zhkpva?igshid=MzRlODBiNWFlZA==">вернуться</a></div>
                </div>
            </div>
        </div>
    </footer>
</div>
<div class="snackbars" id="form-output-global"></div>
<script src="{% static 'js/core.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<!--coded by houdini-->
</body>
</html>